.content {
  margin-left: 20rem;
  flex: 1;
  padding: 4rem 1.25rem 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background: #000;
}

.content__inner {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.content__title--wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

.content__title {
  font-size: 1.875rem;
  font-weight: 400;
}

.content__num {
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  color: #7D7D7D;
  margin-top: 0.25rem;
}

/* -------------------- */
/* ГРИД МОДИФИКАЦИЙ */
/* -------------------- */

.mods__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
}