html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-primary);
  font-family: var(--font-primary);
  line-height: var(--lh-s);
  color: var(--color-text-primary);
  display: flex;
  min-height: 100svh;
  overflow-x: hidden;
}

img, video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Для скрытых label (a11y) */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}