.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100svh;
  padding: 0.5rem;
}

.sidebar__inner {
  height: 100%;
  background: var(--color-bg-secondary);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--color-border);
  padding: 1.75rem;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--color-text-primary);
  cursor: pointer;
}

.logo__icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-text-primary);
  flex-shrink: 0;
}

.logo__text {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.03em;
}

/* Nav */

.sidebar__nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.sidebar__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.125rem;
  border-radius: 0.5rem;
  background: transparent;
  text-decoration: none;
  color: var(--color-text-secondary);
  font-weight: 500;
  letter-spacing: -0.01em;
  border: 1px solid var(--color-border);
  transition: 0.2s ease;
}

.sidebar__link:hover {
  color: var(--color-text-primary);
  background: var(--color-bg-tertiary);
}

.sidebar__link--active {
  background: var(--color-bg-inverted);
  color: var(--color-text-inverted);
  border-color: var(--color-border-inverted);
}

.sidebar__link--active:hover {
  color: var(--color-text-inverted);
  background: var(--color-bg-inverted);
}

.sidebar__bottom {
  padding-top: 2rem;
}

.sidebar__credit {
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar__credit:hover {
  color: var(--color-text-primary);
}
